# **Assignment 03**
## **The Problem:**
### Write a program that generates 100 random integers between 0 and 9.

### 1. Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [2]:
import random
random_numbers = []
for i in range(0, 100):                               #Length of the list is 100
   random_numbers.append(random.randint(0, 9))        # Random numbers between 0 to 9
print("List of 100 Random Integers:")
print(random_numbers)
print()

List of 100 Random Integers:
[6, 7, 1, 0, 5, 4, 9, 7, 1, 0, 6, 6, 1, 8, 8, 0, 7, 1, 3, 5, 4, 4, 4, 8, 8, 3, 4, 5, 8, 7, 9, 5, 2, 7, 2, 7, 0, 6, 0, 4, 9, 8, 7, 4, 5, 1, 0, 7, 5, 8, 7, 4, 1, 4, 2, 8, 5, 9, 5, 8, 0, 0, 9, 5, 2, 2, 1, 2, 9, 2, 9, 1, 4, 1, 3, 4, 6, 0, 7, 1, 5, 7, 3, 6, 6, 4, 0, 5, 6, 1, 3, 3, 2, 5, 9, 2, 4, 8, 8, 9]

In [3]:
import numpy as random_numbers                          #Formation of a 10*10 Matrix
arr= random_numbers.random.randint(0,9, size = (10,10))
print("The 10*10 Matrix is:")
print()
for row in arr:
  for col in row:
    print(col,end=' ')
  print()
#for j in arr:
  #if all(arr) % 2 != 0: 
   #print(j, end = "")

The 10*10 Matrix is:

7 7 4 4 0 7 1 6 8 6
8 0 1 1 8 8 2 5 3 8
2 7 4 1 6 3 5 6 7 3
5 0 0 0 4 1 1 2 7 5
4 8 7 6 7 3 3 3 4 8
0 2 4 7 3 2 7 8 8 0
1 1 3 6 7 6 1 3 5 3
3 8 6 5 7 3 5 1 0 0
4 6 0 7 6 3 7 0 5 6
6 7 8 8 7 4 1 3 2 0

In [4]:
ar=[]
for row in arr:
  ar.append(list(map(str,row))) 
for row_index in range(len(ar)):
  for col_index in range(len(ar[0])):
    if int(ar[row_index][col_index])%2 != 0:
      ar[row_index][col_index]="@"
for row in ar:
  for col in row:
    print(col,end=' ')
  print()

@ @ 4 4 0 @ @ 6 8 6
8 0 @ @ 8 8 2 @ @ 8
2 @ 4 @ 6 @ @ 6 @ @
@ 0 0 0 4 @ @ 2 @ @
4 8 @ 6 @ @ @ @ 4 8
0 2 4 @ @ 2 @ 8 8 0
@ @ @ 6 @ 6 @ @ @ @
@ 8 6 @ @ @ @ @ 0 0
4 6 0 @ 6 @ @ 0 @ 6
6 @ 8 8 @ 4 @ @ 2 0

In [5]:
for row in arr:
  for col in row:
    print(col,end=' ')
  print("*",sum(row))                          #To print the Sum of Each row

7 7 4 4 0 7 1 6 8 6 * 50
8 0 1 1 8 8 2 5 3 8 * 44
2 7 4 1 6 3 5 6 7 3 * 44
5 0 0 0 4 1 1 2 7 5 * 25
4 8 7 6 7 3 3 3 4 8 * 53
0 2 4 7 3 2 7 8 8 0 * 41
1 1 3 6 7 6 1 3 5 3 * 36
3 8 6 5 7 3 5 1 0 0 * 38
4 6 0 7 6 3 7 0 5 6 * 44
6 7 8 8 7 4 1 3 2 0 * 46

In [6]:
for _ in range(2*len(arr[0])+2):
  print("*",sep='',end='')
print()
for row in arr:
  print("*",sep='',end='')
  for col in row:
    print(col,end=' ')
  print("*")
for _ in range(2*len(arr[0])+2):
  print("*",sep='',end='')
print()

**********************
*7 7 4 4 0 7 1 6 8 6 *
*8 0 1 1 8 8 2 5 3 8 *
*2 7 4 1 6 3 5 6 7 3 *
*5 0 0 0 4 1 1 2 7 5 *
*4 8 7 6 7 3 3 3 4 8 *
*0 2 4 7 3 2 7 8 8 0 *
*1 1 3 6 7 6 1 3 5 3 *
*3 8 6 5 7 3 5 1 0 0 *
*4 6 0 7 6 3 7 0 5 6 *
*6 7 8 8 7 4 1 3 2 0 *
**********************

In [7]:
def column_sum(matrix):
  sum_column=[0] * len(matrix[0])
  for row_index in range(len(matrix)):
    for col_index in range(len(matrix[0])):
      sum_column[col_index]+=matrix[row_index][col_index]
  return sum_column

for row in arr:
  for col in row:
    print(col,end='  ')
  print("*",sum(row))                          #To print the Sum of Each row

for _ in range(len(arr[0])):
  print("*",end='  ')
print()
ans=column_sum(arr)
for ele in ans:
  print(ele,end=' ')

7  7  4  4  0  7  1  6  8  6  * 50
8  0  1  1  8  8  2  5  3  8  * 44
2  7  4  1  6  3  5  6  7  3  * 44
5  0  0  0  4  1  1  2  7  5  * 25
4  8  7  6  7  3  3  3  4  8  * 53
0  2  4  7  3  2  7  8  8  0  * 41
1  1  3  6  7  6  1  3  5  3  * 36
3  8  6  5  7  3  5  1  0  0  * 38
4  6  0  7  6  3  7  0  5  6  * 44
6  7  8  8  7  4  1  3  2  0  * 46
*  *  *  *  *  *  *  *  *  *
40 46 37 45 55 40 33 37 49 39